/// Default background color
/// @type Color
$default-background-color: #fff;

/// Default hover background color
/// @type Color
$default-hover-background-color: rgba(0, 0, 0, 0.1);

/// Default text color
/// @type Color
$default-text-color: #000;

/// Default box shadow color
/// @type Color
$default-box-shadow-color: rgba(0, 0, 0, 0.54);

.dropdown {
  display: flex;
  position: relative;

  &--value {
    display: var(--display);
    padding: var(--padding, 0);
    width: var(--width, 100%);
    height: var(--height, 1.75rem);
    line-height: var(--height, 1.75rem);
    font-family: inherit;
    font-size: inherit;

    &[empty] {
      opacity: 0.38;
      color: var(--text-color, $default-text-color);
    }
  }

  &--body {
    #{--background-color}: var(--dropdown-background-color, $default-background-color);
    #{--background-hover-color}: var(--dropdown-background-hover-color, var(--color-primary-100, $default-hover-background-color));  // sass-lint:disable-line no-vendor-prefixes no-duplicate-properties

    display: none;
    position: var(--dropdown-position, absolute);
    top: var(--height, 1.75rem);
    right: var(--dropdown-right, auto);
    left: var(--dropdown-left, 0);
    border-radius: 0.375rem;
    box-shadow: 0.125rem 0.125rem 0.25rem $default-box-shadow-color;
    // scrollbar webkit
    background-clip: text;
    width: var(--dropdown-width, auto);
    max-height: var(--max-height, 16rem);
    color: var(--dropdown-color, $default-text-color);
    overflow-y: auto;
    -webkit-background-clip: text !important;  // sass-lint:disable-line no-vendor-prefixes no-important
    -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes


    &[shown] {
      display: block;
    }


    &::-webkit-scrollbar { // sass-lint:disable-line no-vendor-prefixes
      background-color: var(--dropdown-background-color, $default-background-color);
      width: 0.25rem;
    }

    &::-webkit-scrollbar-thumb { // sass-lint:disable-line no-vendor-prefixes
      border-radius: 0.375rem;
      background: var(--color-primary-100, $default-hover-background-color);
    }

    // ******************

    &::slotted(*) {
      #{--border-radius}: 0.375rem;

      border-radius: 0.375rem;
    }
  }
}

dope-material-icon {
  margin: 0.375rem 0 0.375rem 0.375rem;
  width: 1rem;
  height: 1rem;

  svg {
    width: 1rem;
    height: 1rem;
  }
}
