.dropdown {
  position: relative;
  display: flex;

  &--value {
    height: var(--height, 1.75rem);
    line-height: var(--height, 1.75rem);
    width: var(--width, 100%);
    display: var(--display);
    padding: var(--padding, 0);
    font-size: inherit;
    font-family: inherit;

    &[empty] {
      color: var(--text-color, #000);
      opacity: .38;
    }
  }

  &--body {
    position: absolute;
    display: none;
    top: var(--height, 1.75rem);
    left: 0;
    width: auto;
    max-height: var(--max-height, 16rem);
    box-shadow: 0.125rem 0.125rem 0.25rem rgba(0,0,0,.54);
    border-radius: .375rem;

    color: var(--dropdown-color, #000);
    --background-color: var(--dropdown-background-color, #fff);
    --background-hover-color: var(--dropdown-background-hover-color, var(--color-primary-100, rgba(0,0,0,.1)));

    &[shown] {
      display: block;
    }

    &::slotted(*) {
      border-radius: .375rem;
      --border-radius: .375rem;
    }
  }
}

dope-material-icon {
  width: 1rem;
  height: 1rem;
  margin: .375rem 0 .375rem .375rem;

  svg {
    width: 1rem;
    height: 1rem;
  }
}