:host {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}
textarea,
.pre {
  overflow-y: auto;
  width: var(--dope-width, 100%);
  display: var(--dope-display);
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font: inherit;
  background: transparent;
}
textarea {
  height: 1rem;
  resize: none;
  min-height: calc(var(--height, 1.75rem) - .75rem);
  line-height: 1.4;//calc(var(--height, 1.75rem) - .75rem);
  padding-top: .375rem;
  padding-bottom: .375rem;
}
.pre {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  padding: .5rem 0 0 0;
  white-space: pre-wrap;
}