/// Default text color
/// @type Color
$default-text-color: #000;

:host {
  display: inline-flex;
  position: relative;
  flex-direction: column;
}

textarea,
.pre {
  display: var(--dope-display);
  margin: 0;
  outline: none;
  border: 0;
  background: transparent;
  padding: 0;
  width: var(--dope-width, 100%);
  color: var(--text-color, $default-text-color);
  font: inherit;
  overflow-y: auto;
}

textarea {
  padding-top: .375rem;
  padding-bottom: .375rem;
  height: 1rem;
  min-height: calc(var(--height, 1.75rem) - var(--gxs));
  line-height: 1.4;
  resize: none;
}

.pre {
  position: absolute;
  visibility: hidden;
  z-index: -1;
  padding: var(--g2xs) 0 0;
  white-space: pre-wrap;
}
