link(rel='stylesheet' href='listfield.css')
.wrapper(tabindex$='[[tabindex]]' on-focus='onFocus' on-blur='onBlur')
  dope-drop-down(formatter='[[formatter]]' placeholder='[[placeholder]]' value='[[value]]')
    dope-menu(slot='body' items='[[toMenuItems(formatter, items)]]' on-choose='onMenuChoose')
