link(rel='stylesheet' href='list-field.css')
.field(tabindex$='[[tabindex]]' focused$='[[focused]]' empty$='[[empty]]' readonly$='[[readonly]]' required$='[[required]]' invalid$='[[invalid]]' on-focus='onFocus' on-blur='onBlur')
  dope-menu(items='[[toMenuItems(formatter, items, required, placeholder)]]' on-choose='onMenuChoose' selected-index='{{selectedIndex}}')