:host {
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
}

.field {
  display: inline-block;
  outline: var(--outline, none);
  border-radius: var(--border-radius, 0);
  height: 100%;
  overflow-x: none;
  overflow-y: auto;
}

dope-menu {
  height: 100%;
}
