.menu {
  padding: .5rem 0;
  background-color: var(--background-color, #fff);
}

.item {
  padding: .5rem;
  transition: background-color .35s cubic-bezier(0,0,.2,1);
  min-height: 1rem;

  &:not([disabled]):hover {
    background-color: var(--background-hover-color, var(--color-primary-100, rgba(0,0,0,.1)));
  }

  &[disabled] {
    opacity: .38;
  }
}