/// Default background color
/// @type Color
$default-background-color: #fff;

.menu {
  background-color: var(--background-color, $default-background-color);
  padding: .5rem 0;
  -webkit-overflow-scrolling: touch; // sass-lint:disable-line no-vendor-prefixes
  overflow-y: auto; // on iOS has to be scroll, not auto
}

.item {
  transition: background-color 350ms cubic-bezier(0, 0, 0.2, 1);
  padding: var(--g2xs, 0.5rem);
  min-height: 1rem;

  &:not([disabled]):hover { // sass-lint:disable-line force-pseudo-nesting
    background-color: var(--background-hover-color, var(--color-primary-100, rgba(0, 0, 0, 0.1)));
  }

  &[disabled] {
    opacity: .38;
  }

  &[selected] {
    background-color: var(--background-selected-color, var(--color-primary-200, rgba(0, 0, 0, 0.2)));
  }
}
