/// Default background color
/// @type Color
$default-background-color: #fff;

:host {
  display: inline-block;
  vertical-align: middle;
}

.wrapper {
  #{--outline}: none;

  outline: none;
  background: var(--background-color, $default-background-color);
  min-width: var(--min-width, 6rem);
}

dope-drop-down {
  #{--height}: var(--dropdown-height);
}
