:host {
  display: inline-block;
  vertical-align: middle;
}

.wrapper {
  outline: none;
  --outline: none;
  min-width: var(--min-width, 6rem);
  background: var(--background-color, #fff);
}

dope-drop-down > * {
  --height: var(--dropdown-height);
}
