/// Default border color
/// @type Color
$default-border-color: rgba(0, 0, 0, 0.1);

/// Default background color
/// @type Color
$default-background-color: #fff;

:host {
  display: block;
}

.calendar {
  display: flex;
  flex-direction: column;
  background: var(--background-color, $default-background-color);
  height: 100%;

  &--head {
    display: flex;
    height: 2rem;
  }

  &--left, &--right {
    display: flex;
    flex: 0 0 var(--g, 1.5rem);
    align-items: center;
    justify-content: center;

    // FIXME: változo: icn-s-d
    dope-material-icon,
    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &--year {
    flex: 1;
  }

  &--month {
    flex: 2;
  }

  &--body {
    display: grid;
    flex: 1;
    // FIXME: Értékek
    height: calc(100% - 2.875rem);
    grid-template-columns: repeat(7, 1fr);
  }

  &--day {
    display: flex;
    // FIXME: Calc/SCSS
    flex: 1 1 14.285%;
    align-items: center;
    justify-content: center;
    // height: 3rem;
    // FIXME: Változó
    transition: background 300ms ease-in-out;
    border-top: 0.0625rem solid $default-border-color;
    border-right: 0.0625rem solid $default-border-color;
    text-align: center;
    // FIXME: Változó
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;

    &:hover {
      // FIXME: Változó
      background: var(--color-primary-opacity-04, rgba(#000, .04));
    }

    &:nth-child(7n + 7) {
      border-right: 0;
    }

    &:not([active]) {
      // FIXME: Változó
      color: rgba(0, 0, 0, 0.37);
    }

    &[active] {
      cursor: pointer;
    }

    &[selected] {
      // FIXME: Változó
      background: var(--color-primary-opacity-21, rgba(#000, .21));
    }

    &[today] {
      font-weight: bold;
    }
  }
}
