/// Default text color
/// @type Color
$default-text-color: #000;

input {
  display: var(--display);
  margin: 0;
  outline: none;
  border: 0;
  box-shadow: none;
  background: transparent;
  padding: var(--padding, 0);
  width: var(--width, 100%);
  height: var(--height, 1.75rem);
  text-align: var(--text-align, left);
  line-height: var(--height, 1.75rem);
  color: var(--text-color, $default-text-color);
  font-family: inherit;
  font-size: inherit;
}
