input {
  height: var(--height, 1.75rem);
  line-height: var(--height, 1.75rem);
  width: var(--width, 100%);
  display: var(--display);
  padding: var(--padding, 0);
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: inherit;
  font-family: inherit;
  background: transparent;
  text-align: var(--text-align, left);
  color: var(--text-color, #000);
}