/// Default background color
/// @type Color
$default-background-color: #fff;

/// Default text color
/// @type Color
$default-text-color: #000;

:host {
  display: block;

  &[focused] {
    position: relative;
    z-index: 2;
  }
}

.field {
  cursor: pointer;
  // FIXME: Változó
  padding-top: 0.375rem;

  &--box {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    // FIXME: Változó
    transition: border 350ms ease-in-out;
    // FIXME: Változó
    border: 0.0625rem solid var(--border-color, rgba(0, 0, 0, 0.25));
    // FIXME: Változó
    border-radius: var(--border-radius, .25rem);
    // FIXME: Változó
    background: var(--background-color, $default-background-color);
    // FIXME: Változó
    padding: 0.5rem 0.625rem 0.5rem 0.375rem;
  }

  &--hint {
    // FIXME: Változó
    color: var(--border-hover-color, rgba(0, 0, 0, 0.5));
    // FIXME: Változó
    font-size: var(--hint-font-size, 0.75rem);
  }

  &--error {
    // FIXME: Változó
    color: var(--border-error-color, #ff1744);
    // FIXME: Változó
    font-size: var(--error-font-size, var(--hint-font-size, .75rem));
  }

  &--label {
    display: block;
    position: relative;
    align-self: flex-start;
    transform: translateZ(0);
    transition: all 350ms ease-in-out;
    opacity: .38;
    z-index: 1;
    margin: 0;
    padding: 0 .5rem 0 0;
    width: auto;
    height: var(--height, 1.75rem);
    line-height: var(--height, 1.75rem);
    color: var(--text-color, $default-text-color);
    font-family: inherit;
    font-size: inherit;
    pointer-events: none;

    &:empty {
      display: none;
    }
  }

  &--inner {
    display: flex;
    transition: margin 350ms ease-in-out;
    margin-top: calc(-1 * var(--height, 1.75rem));
  }

  &[no-label] {
    .field--inner {
      margin-top: 0;
    }
  }

  // &--icon {
  //   svg,
  // }

  &--icon::slotted(dope-material-icon) {
    align-self: center;
    // FIXME: Változó
    padding: .25rem;
    // FIXME: Változó
    width: 1rem;
    // FIXME: Változó
    height: 1rem;
    fill: var(--text-color, $default-text-color);

    // FIXME: Változó
    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &--body::slotted(*) {
    flex: 1;
  }

  &:not([empty]), &[focused] {
    .field {
      &--label {
        // FIXME: Változó/Calc
        transform: translate3d(-0.25rem, -0.875rem, 0);
        opacity: 1;
        background: var(--background-color, $default-background-color);
        cursor: text;
        // FIXME: Változó
        padding: 0 .25rem;
        // FIXME: Változó
        height: .75rem;
        // FIXME: Változó
        line-height: .75rem;
        // FIXME: Változó
        color: var(--border-color, rgba(0, 0, 0, 0.25));
        // FIXME: Változó
        font-size: .75rem;
        transform-origin: top left;

        &:empty {
          display: none;
        }
      }

      &--inner {
        // FIXME: Változó
        margin-top: -0.75rem;
      }
    }

    &[no-label] {
      .field--inner {
        margin-top: 0;
      }
    }

    &:hover:not([focused]):not([invalid]) {
      .field--label {
        // FIXME: Változó
        color: var(--border-hover-color, rgba(0, 0, 0, 0.5));
      }
    }
  }

  &:hover {
    .field--box {
      // FIXME: Változó
      border: 0.0625rem solid var(--border-hover-color, rgba(0, 0, 0, 0.5));
    }
  }

  &[focused] {
    .field {
      &--box {
        // FIXME: Változó
        border-color: var(--color-primary-A700, blue);
      }

      &--label {
        // FIXME: Változó
        color: var(--color-primary-A700, blue);
        filter: none;
      }
    }
  }

  &[invalid] {
    .field {
      &--box {
        // FIXME: Változó
        border-color: var(--border-error-color, #ff1744);
      }

      &--label {
        // FIXME: Változó
        color: var(--border-error-color, #ff1744);
      }
    }
  }
}
