@import 'field';

// TODO: A hover backgroundot átalakaítani a skape-fronotend ikonhoz hasonlóan (after/bg/opacity, currentColor)

dope-material-icon {
  transition: background 300ms ease-in-out;
  border-radius: 50%;

  &:hover {
    // FIXME: Változó
    background: var(--color-primary-50, rgba(0, 0, 0, 0.05));
  }
}

[empty], [required] {
  dope-material-icon {
    display: none;
  }
}
