link(rel='stylesheet' href='datetime-field.css')
.wrapper
  dope-date-field(value='{{dateValue}}' dirty='{{dateDirty}}' focused='{{dateFocused}}' required='[[required]]')
  dope-time-field(value='{{timeValue}}' dirty='{{timeDirty}}' focused='{{timeFocused}}' required='[[required]]')