:host {
  display: inline-block;
}

.wrapper {
  display: flex;
  height: var(--height, 14rem);
}

dope-time-field, dope-date-field {
  outline: none;
}

dope-time-field {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: var(--time-width, 5rem);
}

dope-date-field {
  flex: 1;
}