// TODO: Közelebb vinni küllemben/felépítésben a skape-frontendhez

// FIXME. kivezetni
$transition-duration: 0.35s;

.body {
  // FIXME: változó
  transition: background $transition-duration ease-in-out;
  outline: none;
  border: 0;
  border-radius: 0.125rem;
  background: transparent;
  cursor: pointer;
  padding: 0 var(--g2xs, 0.5rem);
  min-width: 4rem;
  height: 2.25rem;
  text-transform: uppercase;
  line-height: 2.25rem;
  // FIXME: Változó
  color: var(--color-primary, blue);
  font: inherit;
  font-size: 0.875rem;

  &:hover,
  &:focus {
    // FIXME: Változó
    background: var(--color-primary-hover, rgba(#999999, 0.2));
  }

  &:active {
    // FIXME: Változó
    background: var(--color-primary-active, rgba(#999999, 0.4));
  }
}
