:host {
  display: block;
}

.field {
  display: block;
  height: 100%;
}

dope-calendar {
  width: var(var(--calandar--width, --width), 16rem);
  height: var(var(--calandar--height, --height), 14rem);
}
