:host {
  display: block;
}

.field {
  display: block;
  height: 100%;
}

dope-calendar {
  width: var(--calandar--width, var(--width, 16rem));
  height: var(--calandar--height, var(--height, 14rem));
}
